doc/implement-loggins
venv/
*.pyc
__pycache__/
*.db
*.log
logs/
=======
 feature/middle-level-project-taximeter
#Ignorando entorno virtual 

/venv

# --- Entorno virtual ---
venv/




main
 feature/middle-level-project-taximeter
